{% extends "base/base.html" %}
{% load static %}
{% load bleach_tags %}
{% load extra_filters %}

{% block title %}debug page{% endblock %}



{% block content %}
<!-- utc_debugpage -->

{{data.debug_text}}

<br>
<br>
1<br>
1<br>
1<br>
1<br>
1<br>


{% endblock %}
