{% extends "base/base.html" %}
{% load bleach_tags %}
{% load extra_filters %}


{% block title %}{{data.sp.title}}: {{ block.super }}{% endblock %}

{% block content %}

{# TODO: remove code duplication with main_simplepage.html #}
<div>
    <!-- {{data.unit_test_comment}} -->
    {{data.sp.content|render_markdown|bleach}}
</div>


<form id="reviewForm" method="post" action="#">
    {% csrf_token %}
    <div><input class="form_input_fw" type="text" name="rootnodeurl" maxlength="500" required id="rootNodeUrl" placeholder="URL of root node" title="root node URL"></div>

    <button id="mainSubmit" style="float: right; margin-left: 1em;" class="btn btn-primary" type="submit">submit</button>

</form>
{% endblock %}
