{% extends "base/base.html" %}
{% load static %}
{% load bleach_tags %}
{% load extra_filters %}

{% block title %}{{data.sp.title}}: {{ block.super }}{% endblock %}

{% block head_extension %}
<!-- source: https://github.com/bumbu/svg-pan-zoom -->
<script src="{% static 'svg-pan-zoom.js' %}"></script>
{% endblock %}

{% block content %}
<!-- utc_gaphviewpage -->

<div>
    <p id="js_warning">Warning: You need to activate javascript to properly view this page.</p>
    <div class="controls" style="margin-top: 1em;">
      <span>
        <button id="zoom-in1">Zoom in</button>
        <button id="zoom-out1">Zoom out</button>
        <button id="reset1">Reset</button>
      </span>
        <span class="right-aligned">
          <input type="text" name="highlightStr" maxlength="500" id="highlightStr" placeholder="string for highlight filter" title="highlight string" value="#svkd">

          <!-- TODO: enable this tooltipp on touch displays -->
          <span title="Every post which contains this string (case insensitive) ist highlighted. Press Enter after changing the string.">&#9432;</span>
        </span>
      </div>
      <!-- <object id="main-svg-object" type="image/svg+xml" style="width:100%;" data="{{context.svg_fpath}}">SVG cannot be shown</object> -->
      <svg xmlns="http://www.w3.org/2000/svg" id="main-svg-object" viewBox="{{data.svg_viewbox_str}}" style="width: 100%; height: 60vh;">
        {{data.svg_data|safe}}
      </svg>

      <div class="controls">
        <span>
          <button id="zoom-in2">Zoom in</button>
          <button id="zoom-out2">Zoom out</button>
          <button id="reset2">Reset</button>
        </span>
      </div>
  <div class="node_details">
    <div class="node_details_head">
      <a id="node_link" href="" target="_blank" style="text-decoration: none;">
      <span id="node_timestamp"></span>&nbsp;&nbsp;
      <span id="node_author"></span></a>&nbsp;&nbsp;
      <span id="node_metadata"></span>
    </div>
      <div id="node_content">

    </div>
  </div>
  <br>
  Summary: {{data.stats.total_messages}} posts from {{data.stats.total_users}} users.
  {% if data.cache_metadata.timestamp_str %}
  <br>
  Taken from cache. Data update: {{data.cache_metadata.timestamp_str}} UTC.
  {% endif %}
  <!-- unit test json data -->
  {{ data.cache_metadata|json_script:"utjd_cache_metadata" }}
</div>

{% endblock %}


{% block main_script %}

<script>
  // this allows to export more than one object from the loaded module
  var svgPanZoomFunc;
  if (typeof(svgPanZoom) == "function"){
    svgPanZoomFunc = svgPanZoom;
  } else {
    svgPanZoomFunc = svgPanZoom.svgPanZoom;;

    // for debugging and development
    var pzi = svgPanZoom.instancesStore[0].instance;
  }
  var panZoom = svgPanZoomFunc('#main-svg-object', {
        zoomEnabled: false,
        controlIconsEnabled: false
  });

  window.onload = function() {
    document.getElementById('js_warning').remove();


    var initialZoom = 0.99;

    panZoom.zoomBy(initialZoom);
    panZoom.fit();

    function FuncZoomIn(ev){
      // ev.preventDefault();
      panZoom.zoomIn();
    }

    function FuncZoomOut(ev){
        // ev.preventDefault();
        panZoom.zoomOut();
      }

      function FuncZoomReset(ev){
        // ev.preventDefault();
        panZoom.resetZoom();
        panZoom.fit();
        panZoom.zoomBy(initialZoom);
        panZoom.center();
    }

    document.getElementById('zoom-in1').addEventListener('click', FuncZoomIn);
    document.getElementById('zoom-in2').addEventListener('click', FuncZoomIn);
    document.getElementById('zoom-out1').addEventListener('click', FuncZoomOut);
    document.getElementById('zoom-out2').addEventListener('click', FuncZoomOut);
    document.getElementById('reset1').addEventListener('click', FuncZoomReset);
    document.getElementById('reset2').addEventListener('click', FuncZoomReset);
  };


    const svg_obj = document.getElementById("main-svg-object");
    const node_link_elt = document.getElementById("node_link");
    const node_timestamp_elt = document.getElementById("node_timestamp");
    const node_author_elt = document.getElementById("node_author");
    const node_metadata_elt = document.getElementById("node_metadata");
    const node_content_elt = document.getElementById("node_content");

    const nodes = svg_obj.querySelectorAll('.node');
    // activate root node at the beginning
    let currentActiveNode = svg_obj.getElementById("node1");
    const nodeIdToIndexMapping = {};

    nodes.forEach((n, idx) => {
      nodeIdToIndexMapping[n.id] = idx;
    });

    function deactivateNode(nodeId){
      svg_obj.getElementById(nodeId).classList.remove('node_active');
    }

    async function adaptPan(node){
      // adapt viewport pan such that the node is visible
      // this is async due to timeout in animation below

      // might be useful in the future:
      // const transformMatrix = pzi.viewport.getCTM();
      // e: translation x, f: translation y
      // a: scale x, b: scale y

      const bbox = currentActiveNode.getBoundingClientRect();

      // this is probably not the canonical usage of the word viewport
      const viewport = svg_obj.getBoundingClientRect();
      var desiredMinMargin = 5;

      deltaX = Math.max(viewport.left - bbox.left + desiredMinMargin, 0);
      deltaX = Math.min(viewport.right - bbox.right - desiredMinMargin, deltaX);
      deltaY = Math.max(viewport.top - bbox.top + desiredMinMargin, 0);
      deltaY = Math.min(viewport.bottom - bbox.bottom - desiredMinMargin, deltaY);

      // simple animation
      const N = 10;
      for (let i = 0; i < N; i++) {
        panZoom.panBy({"x": deltaX/N, "y": deltaY/N});
        await new Promise(r => setTimeout(r, 50/N));

      }

    }

    function activateNodeById(nodeId){
      deactivateNode(currentActiveNode.id)
      currentActiveNode = svg_obj.getElementById(nodeId);
      currentActiveNode.classList.add('node_active');
      adaptPan(currentActiveNode);

      const nodeData = JSON.parse(currentActiveNode.getAttribute('node-data'));

      node_content_elt.innerHTML = nodeData.content;
      currentActiveNode.is_auxiliary = nodeData.is_auxiliary;

      if (nodeData.is_auxiliary == true) {
        node_content_elt.classList.add("node_auxiliary_content");
        node_link_elt.href = "";
        node_timestamp_elt.innerHTML = "";
        node_author_elt.innerHTML = "";
        node_metadata_elt.textContent = "";
        return
        }

      node_content_elt.classList.remove("node_auxiliary_content");

      node_link_elt.href = `${nodeData.url}`;
      node_timestamp_elt.innerHTML = `${nodeData.date_str} &nbsp;  ${nodeData.time_str}`;
      node_author_elt.innerHTML = `${nodeData.author}`;
      node_metadata_elt.textContent = `${nodeData["impact_str"]}`;
      node_content_elt.innerHTML = nodeData.content;
      // console.log(nodeData);
    }

    function activateOther(target){
      /*
      target should be one of
      "prev_horizontal", "next_horizontal", "next_vertical", "prev_vertical".
      */

      const nodeConnections = JSON.parse(currentActiveNode.getAttribute('node-connections'));

      targetId = nodeConnections[target];

      // handle memory of vertical navigation path
      if (target === "next_vertical") {
        lastActiveChild = currentActiveNode.getAttribute('last-active-child');
        if (lastActiveChild != null) {
          targetId = lastActiveChild;
        }
      }

      if (targetId == null) {
        return
      }

      if (target === "prev_vertical") {
        let targetNode = svg_obj.getElementById(targetId);
        targetNode.setAttribute('last-active-child', currentActiveNode.id);
        console.log("last active child saved");
      }

      activateNodeById(targetId);
    }

    const highlightStrElement = document.getElementById("highlightStr");
    function highlightNodes(){
      const hlStr = highlightStrElement.value.toLowerCase();
      nodes.forEach(node => {
        node.classList.remove("node_highlight");
        const nodeData = JSON.parse(node.getAttribute('node-data'));
        if (nodeData.content.toLowerCase().includes(hlStr)){
          node.classList.add("node_highlight");
        } else {
          //console.log("False:", node.id)
        }

      });


    }

    document.addEventListener('keydown', (event) => {
        if (event.key === 'ArrowLeft') {
            activateOther("prev_horizontal");
          } else if (event.key === 'ArrowRight') {
            activateOther("next_horizontal");
          } else if (event.key === 'ArrowUp') {
            event.preventDefault();
            activateOther("prev_vertical");
            } else if (event.key === 'ArrowDown') {
            event.preventDefault();
            activateOther("next_vertical");
        }
    });

    highlightStrElement.addEventListener('keydown', (event) => {
        if (event.key === 'Enter') {
          highlightNodes();
        }
      });


    activateNodeById(currentActiveNode.id);
    highlightNodes();

    // make nodes clickable
    nodes.forEach(node => {
      node.addEventListener('click', () => {
        activateNodeById(node.id);
        // console.log(node.id, nodeIdToIndexMapping[node.id]);
      });
    });

  </script>

{% endblock %}
